<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head"></head>

<body class="bg-dark">

	<header th:replace="/layout/layout :: header"></header>

	<div class="container text-center text-light my-4">
		<h1 th:text="${titlePag}"></h1>
		<div class="card-body">
			<form th:action="@{/game}" th:object="${player}" method="POST">
				<div class="form-group row py-3">
					<div class="col-sm-12">
						<input type="text" th:field="*{name}" class="form-control">
					</div>
					<div th:if="${error != null && error.containsKey('name')}"
						th:text="${error.name}"></div>
					<div class="col-sm-12 d-none">
						<input type="text" th:field="*{cash}" class="form-control"
							readonly th:text="''">
					</div>
					<div class="col-sm-12 d-none">
						<input type="text" th:field="*{categoria}" class="form-control"
							readonly th:text="${'1'}">
					</div>
				</div>
				<!-- BTN EDIT -->
				<div class="form-group row">
					<div class="col-sm-6 ">
						<input id="startGame" type="submit"
							value="&#9199;   Empezar Juego" class="btn btn-primary btn-lg" /><a
							th:href="@{/gameStart}"></a>
					</div>


				</div>
			</form>
			<div class="mt-5">
				<h2 th:text="${'&#128195; Reglas'}"></h2>
				<div>
					<ul class="list-group">
						<li class="my-3"
							th:text="${'ContraReloj, tienes 15 Segundos para responder.'}"></li>
						<li class="my-3"
							th:text="${'Si fallas la pregunta pierdes el acumulado.'}"></li>
						<li class="my-3"
							th:text="${'Con cada respuesta correcta acumulas un valor distinto.'}"></li>
						<li class="my-3"
							th:text="${'Si te retiras voluntariamente te llevas el acumulado.'}"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="/layout/layout :: footer"></footer>

</body>
</html>